    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: antiquewhite;
    }

    #board {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-gap: 5px;
    }

    .cell {
      width: 100px;
      height: 100px;
      font-size: 2em;
      text-align: center;
      cursor: pointer;
      border: 1px solid #333;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-family: 'Arial', sans-serif;
    }

    #buttons {
      margin-top: 20px;
    }

    .cell.X {
      color: #3498db;
    }

    .cell.O {
      color: #e74c3c;
    }

    #buttons {
      margin-top: 20px;
    }

    .tab{
      color:white;
      text-decoration: none;
      padding: 20px 20px;
      border-radius: 111px;
      transition: background-color 0.3s ease;
      background-color: #333;
    }